.box {
  margin: 0 auto;
  width: 960px;
}
.file-upload-area {
  position: relative;
  width: 960px;
  height: 330px;
  overflow-y: scroll;
  border: 1px solid #ccc;
}
.file-upload-area form {
  margin: 0;
  padding: 0;
}
.file-upload-area div.flash {
  width: 100%;
}
.file-upload-area input[disabled] {
  border: 1px solid #cccccc;
}
.file-upload-area #btnSubmit {
  margin: 0 0 0 155px;
}
.file-upload-area td {
  font: 10pt Helvetica, Arial, sans-serif;
  vertical-align: top;
}
.file-upload-area .progressWrapper {
  width: 100%;
  overflow: hidden;
}
.file-upload-area .progressContainer {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  border-bottom: 2px dashed #b8b8b8;
  color: #333;
}
.file-upload-area .message {
  margin: 1em 0;
  padding: 10px 20px;
  border: solid 1px #FFDD99;
  overflow: hidden;
}
.file-upload-area .red {
  border: solid 1px #B50000;
  background-color: #FFEBEB;
}
.file-upload-area .green {
  border: solid 1px #DDF0DD;
  background-color: #fff;
}
.file-upload-area .blue {
  border: solid 1px #CEE2F2;
  background-color: #F0F5FF;
}
.file-upload-area .progressName {
  font-size: 14px;
  font-weight: bold;
  width: 323px;
  height: 18px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}
.file-upload-area .progressBarInProgress,
.file-upload-area .progressBarComplete,
.file-upload-area .progressBarError {
  position: absolute;
  z-index: -1;
  top: 0;
  font-size: 0;
  width: 0%;
  height: 100%;
  background-color: #5AA6D8;
}
.file-upload-area .progressBarComplete {
  width: 100%;
  background-color: green;
  visibility: hidden;
}
.file-upload-area .progressBarError {
  width: 100%;
  background-color: red;
  visibility: hidden;
}
.file-upload-area .progressBarStatus {
  margin-top: 2px;
  width: 337px;
  font-size: 12px;
  text-align: left;
  white-space: nowrap;
}
.file-upload-area .progressFileSize {
  position: absolute;
  left: 80%;
  top: 0;
  font-weight: bold;
  font-size: 13px;
}
.file-upload-area .progressUpSize {
  position: absolute;
  left: 80%;
  top: 20px;
  font-size: 13px;
}
.file-upload-area a.progressCancel {
  /*.resource_cancelbutton1_sprited;*/

  font-size: 0;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 11;
}
.file-upload-area a.progressCancel:hover {
  /*//.resource_cancelbutton2_sprited;*/

}
.file-upload-btn {
  padding-left: 50%;
}
.file-upload-btn a.btn {
  margin: 10px 0 10px -65px;
  width: 128px;
  height: 33px;
  line-height: 33px;
  text-decoration: none;
}
.file-upload-btn .btn {
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #3e9fd8;
  background-image: -o-linear-gradient(bottom, #1e82ca 0, #5ebce6 100%);
  background-image: -moz-linear-gradient(bottom, #1e82ca 0, #5ebce6 100%);
  background-image: -webkit-linear-gradient(bottom, #1e82ca 0, #5ebce6 100%);
  background-image: -ms-linear-gradient(bottom, #1e82ca 0, #5ebce6 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1e82ca), color-stop(1, #5ebce6));
  background-image: linear-gradient(bottom, #1e82ca 0, #5ebce6 100%);
  -webkit-box-shadow: inset 0 1px 0 rgba(176, 223, 243, 0.75);
  -moz-box-shadow: inset 0 1px 0 rgba(176, 223, 243, 0.75);
  box-shadow: inset 0 1px 0 rgba(176, 223, 243, 0.75);
  padding: 0;
  border-style: none;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  min-width: 60px;
  color: #fff;
  border: 1px solid #1e82ca;
  text-shadow: 0 -1px 0 rgba(22, 90, 139, 0.75);
}
.file-upload-btn .btn:hover {
  background-color: #51aee0;
  background-image: -o-linear-gradient(bottom, #3fa0d9 0, #62bce6 100%);
  background-image: -moz-linear-gradient(bottom, #3fa0d9 0, #62bce6 100%);
  background-image: -webkit-linear-gradient(bottom, #3fa0d9 0, #62bce6 100%);
  background-image: -ms-linear-gradient(bottom, #3fa0d9 0, #62bce6 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3fa0d9), color-stop(1, #62bce6));
  background-image: linear-gradient(bottom, #3fa0d9 0, #62bce6 100%);
}
