/**/
.main.resource-index .center-content .box .cnt.left-main-layout .left-cnt {
    background-color:#dee0e6;

    [class^="icon-"],[class*=" icon-"] {
        width:14px;
        height:14px;
        line-height:14px;
    }

    .left-head, .left-foot {
        height:50px;
    }
}

/* make div.wrapper looks like input box end */
.main.resource-index .center-content .box .cnt.left-main-layout .left-cnt{
    .left-head {
        height:30px;
        padding:10px 20px;
        border-bottom:1px solid #c9ccd0;
        background-image:url(../../image/report/gradient-line.png);
        background-position:top;
        background-repeat:no-repeat;

        .btn, .sp-btn, .small {
            .inline-block;
            font-size:14px;
            line-height:16px;
            padding:6px 0px;
            margin-right:9px;

            &.right{
                margin-right:0;
            }
            &:first-child {
                margin-left:0;
            }
        }
        .btn {
            width:87px;
            font-size:16px;
            text-align:center;
            margin-right:19px;
        }
        .small {
            background-color:#fff;
            margin-right:0px;
            width:170px;
            padding-left:6px;
            padding-right:6px;
        }
        .sp-btn {
            width:67px;
            border:1px solid #c9ccd0;
            background-color:#fff;
            cursor:pointer;
        }

        .hidden-op {
            display:none;
        }
        [class^="icon-"], [class*=" icon-"] {
            position:relative;
            margin-right:5px;
            height:14px;
            vertical-align:middle;
        }
        .icon-upload {
            .resource_upload_sprited;
            top:-2px;
        }
        .icon-search {
            .global_search1_sprited;
            background-color: #fff;
            float: left;
            margin: 7px 0 0 -25px;
            cursor: pointer;
            vertical-align:top;

            &:hover {
                .global_search2_sprited;
            }
        }
        .del-btn{
            margin-left: 15px;
        }
        .icon-refresh {
            .global_refresh_sprited;
        }
        .icon-setting {
            .resource_setting_sprited;
        }
        .icon-trash {
            top:-1px;
            .resource_delect_sprited;
        }
    }
}

.main.resource-index .center-content .box .cnt.left-main-layout .left-cnt{
    .left-body {
        min-height:483px;
        background-color:#f3f4f6;
        border-bottom:1px solid #c9ccd0;

        .bg-word {
            display:none;
            position:absolute;
            top:200px;
            width:100%;
            text-align:center;
            color:#ccc;
            font-size:24px;
        }
        .files-table {
            width:100%;
            table-layout:fixed;
            border-bottom:2px solid #ebebeb;

            tr{
                &:hover, &.hover {
                    td .file-ops{
                        visibility:visible;
                    }
                }
                &.active, &:active, &:hover, &.hover{
                    td {
                        background-color:#f3f4f6;

                        .file-ops {
                            background-color:#f3f4f6;
                        }
                    }
                }

                th {
                    height:39px;
                    background-color:#ecedf1;
                    border-left:1px solid #f9f9f9;
                    border-right:1px solid #ebebeb;

                    &:first-child {
                        border-left:none;
                    }

                    &:last-child {
                        border-right:none;
                    }
                }

                td {
                    position:relative;
                    height:18px;
                    padding: 8px 10px 7px;
                    text-align:center;
                    background-color:#f9f9f9;
                    border-right:1px solid #ebebeb;
                    border-bottom:1px solid #ebebeb;

                    &:last-child {
                        border-right:none;
                    }
                    &.size {
                        padding-left: 0;
                        text-align: right;
                    }
                    &.file-name {
                        text-align: left;
                        padding-right: 10px;
                        padding-left: 10px;

                        .name {
                            .inline-block;
                            width:220px;
                            overflow:hidden;
                            word-break:break-all;
                        }
                    }
                    .file-ops {
                        float:right;
                        right:6px;
                        top:0px;
                        padding:0 5px;
                        height:100%;
                        visibility:hidden;
                        background-color:#f9f9f9;

                        [class^="icon-"], [class*=" icon-"]{
                            margin:2px 4px;
                            cursor:pointer;
                            vertical-align: middle;
                        }
                        .icon-down {
                            .resource_down_down_sprited;

                            &:hover {
                                .resource_down_down2_sprited;
                            }
                        }
                        .icon-download {
                            .global_download3_sprited;

                            &:hover {
                                .global_download2_sprited;
                            }
                        }

                        .more-ops{
                            .inline-block;
                            position: relative;
                            cursor: pointer;
                            vertical-align: middle;

                            .more-ops-block {
                                display:none;
                                position:absolute;
                                left:-30px;
                                top:14px;
                                z-index:1;
                                text-align:center;
                                font-style:normal;
                                border:1px solid #c9ccd0;

                                .more-op {
                                    display:block;
                                    width:60px;
                                    padding:6px 10px;
                                    background-color:#fff;
                                    border-top:1px solid #c9ccd0;
                                    cursor:pointer;

                                    &:first-child {
                                        border-top:none;
                                    }
                                    &:hover {
                                        color:#0c94de;
                                    }
                                }
                            }
                            &.active{
                                .more-ops-block {
                                    display:block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.main.resource-index .center-content .box .cnt.left-main-layout .left-cnt{
    .left-foot {
        width:100%;
        height:46px;
        bottom:0;

        .left-foot-cnt {
            padding:13px 20px;

            .first-page-link, .prev-link, .next-link {
                color:inherit;
                text-decoration:underline;
            }
            .first-page-link, .prev-link {
                margin-right:10px;
            }
            .next-link {
                margin-left:10px;
            }
            .links {
                line-height:20px;

                .page-link {
                    padding:0 8px;
                    text-decoration:none;
                    color:inherit;

                    &.current {
                        color:#fff;
                        background-color:#465567;
                        text-shadow:0 0 0 #ffffff;
                    }
                }
            }
        }
    }
}

.main.resource-index {
    .left-main-layout {
        .right-cnt {
            min-height: 426px !important;
            .right-head {
                overflow:hidden;
                padding:0 30px;
                height:50px;
                line-height:50px;
                text-align:center;
                font-size:14px;
                border-bottom:1px solid #c9ccd0;
                background-color:#dee0e6;
                background-image:url(../../image/report/gradient-line.png);
                background-position:top;
                background-repeat:no-repeat;
                .border-top-radius(5px);
                span {
                    width:100%;
                    .inline-block;
                    overflow:hidden;
                    white-space:nowrap;
                    text-overflow:ellipsis;
                }
            }
            .right-body {
                .right-body-block {
                    padding:10px 16px;
                    .file-info-item {
                        margin-bottom:8px;
                        .file-share-link {
                            margin: 5px 0px;
                            padding: 6px;
                            line-height: 16px;
                            width: 191px;
                        }
                    }
                    .prev-block {
                        width:100%;
                        height:203px;
                        line-height:203px;
                        margin-bottom:40px;
                        text-align:center;
                        .file-prev {
                            max-width:203px;
                            max-height:203px;
                            vertical-align:middle;
                            background-color:#f0f0f0;
                            .box-shadow(0 0 2px rgba(120, 120, 120, 0.5));
                        }
                        span {
                            white-space:nowrap;
                        }
                    }
                    .file-sp-info {
                        margin-bottom:20px;
                        background-color:#f0f0f0;
                    }
                }
                .info-more-title {
                    display:block;
                    line-height:33px;
                    text-align:center;
                    background-color:#f3f4f6;
                }
            }
        }
        .board-qrsbox {
            position: absolute;
            top: 456px;
            right: 8px;
            background-color: #ecedf1;
            padding: 20px 14px;
            width: 207px;
            height: 100px;
            border: 1px solid #c9ccd0;
            box-shadow: 1px 2px 5px rgba(180, 180, 180, 0.75), inset 0px 1px 0px #ffffff;
            .border-radius(6px);
            .info {
                .icon-info {
                    margin-top: 4px;
                    vertical-align: top;
                }
                .info-text {
                    line-height: 20px;
                    .inline-block;
                    width: 192px;
                }
            }
            .big-arrow {
                .inline-block;
                text-align: center;
                margin: 12px 38px;
                line-height: 46px;
                color: #ffffff;
                font-weight: bold;
                text-shadow: none;
                width: 131px;
                height: 46px;
                background: url(../../image/resource/big-arrow.png) left no-repeat;
                .icon-spanner {
                    margin: 0px 5px 0 -10px;
                }
            }
        }
    }
}

.main.resource-index .curtain .center-content {
    height:100%;
    text-align:center;
}
.main.resource-index .curtain .center-content .close-area {
    width:40px;
    height:60px;
    position:absolute;
    top:0;
    right:0;
    z-index:15;
    background-color:#505050;
}
.main.resource-index .curtain .center-content .ops-head,.main.resource-index .curtain .center-content .link-foot {
    position:absolute;
    width:100%;
    padding:10px 0;
    height:33px;
    color:#ddd;
    text-align:center;
    text-shadow:0 0 0 #ffffff;
    background-color:rgba(0, 0, 0, 0.75);
}
.main.resource-index .curtain .center-content .ops-head>*,.main.resource-index .curtain .center-content .link-foot>* {
    vertical-align:middle;
}
.main.resource-index .curtain .center-content .ops-head {
    top:0;
}
.main.resource-index .curtain .center-content .ops-head select,
.main.resource-index .curtain .center-content .ops-head input[type="text"] {
    height:20px;
    padding:0;
    color:#ddd;
    border:1px solid #797979;
    background-color:#5d5d5d;
}
.main.resource-index .curtain .center-content .ops-head input[type="text"] {
    height:18px;
    margin-top:1px;
    width:50px;
    text-align:center;
    .box-shadow(0 0 0 #ffffff);
}
.main.resource-index .curtain .center-content .ops-head [class^="icon-"],
.main.resource-index .curtain .center-content .ops-head [class*=" icon-"] {
    width:28px;
    height:28px;
    line-height:28px;
}
.main.resource-index .curtain .center-content .link-foot {
    bottom:0;
}
.main.resource-index .curtain .center-content .link-foot a {
    color:inherit;
}
.main.resource-index .curtain .center-content .file-prev {
    max-width:100%;
    max-height:100%;
}

.upload.resource-index{
    .modal-box{
        margin-left: -385px;
        width: 770px;
        font-size: @size-normal;

        .box-body{
            position:relative;
            overflow: visible;
            .bg-word {
                margin-top:100px;
                font-size:20px;
                text-align:center;
                color:#c8c8c8;
                font-weight:bold;
            }
        }

        .box-foot .btn-line {
            padding:0 15px;
            height:28px;
            text-align: left;
            line-height: 40px;

            .cancel-all {
                float: right;
                display: none;
            }
            .btn {
                width:80px;
                line-height:22px;
                height:28px;
            }
        }
    }

    .disclaimer {
        padding: 5px 15px;
    }

    .file-upload{
        margin: 10px 20px 0;
        height: 330px;
        border:2px dashed #b8b8b8;
        &:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
        .file-prefix-setting {
            &.uploading {
                .radio {
                    cursor: default;
                    &:hover,&.hover,&:hover:before,&.hover:before{
                        .global_radio1_sprited;
                    };
                    &[checked]:before, &[checked]:hover:before{
                        cursor: default;
                        .global_radio3_sprited;
                    }
                    &.disable:before, &.disable:hover:before{
                        .global_radio4_sprited;
                    }
                }
                li,.info ,input{
                    color: #c8c8c8;
                }
            }
            float: left;
            vertical-align: top;
            padding: 20px;
            width: 210px;
            height: 290px;
            border-right:2px dashed #b8b8b8;
            position: relative;
            .tip {
                color: #585858;
                position: relative;
                .info {
                    margin-left: 2px;
                }
                .icon-waht {
                    margin-left: 5px;
                    cursor: pointer;
                    width: 25px;
                }
                .tip-text {
                    .border-radius(5px);
                    position: absolute;
                    top:-90px;
                    left:15px;
                    width:200px;
                    height: 65px;
                    display: none;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    padding:15px 15px 0;
                    z-index: 11;
                    .prefix-tip {
                        color: red;
                    }
                    .prfix-example {
                        text-decoration: underline;
                    }
                    .for-padding {
                        bottom: -15px;
                        height: 15px;
                        left: 0;
                        position: absolute;
                        width: 230px;
                    }
                    .icon-arrow {
                        margin-left:65px;
                    }
                    .prfix-text {
                        margin-left:55px;
                    }
                }
                .popover .arrow, .popover .arrow:after {
                    border-color: rgba(0, 0, 0, 0);
                    border-style: solid;
                    display: block;
                    height: 0;
                    position: absolute;
                    width: 0;
                }
                .popover .arrow {
                    border-width: 11px;
                }
                .popover .arrow:after {
                    border-width: 10px;
                    content: "";
                }
                .popover.top .arrow {
                    border-bottom-width: 0;
                    border-top-color: #ccc;
                    bottom: -11px;
                    left: 30%;
                    margin-left: -11px;
                }
                .popover.top .arrow:after {
                    border-bottom-width: 0;
                    border-top-color: #FFFFFF;
                    bottom: 1px;
                    margin-left: -10px;
                }
            }
            .prefix-radio {
                margin-top: 20px;
                li {
                    margin:8px 0;
                    label {
                        span {
                            vertical-align: middle;
                        }
                    }
                    ::-webkit-input-placeholder { /* WebKit browsers */
                        color: #c8c8c8;
                    }
                    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                        color: #c8c8c8;
                    }
                    ::-moz-placeholder { /* Mozilla Firefox 19+ */
                        color: #c8c8c8;
                    }
                    :-ms-input-placeholder { /* Internet Explorer 10+ */
                        color: #c8c8c8;
                    }
                }
                div.input-medium {
                    width: 150px;
                }
                .prefix-remark-area {
                    color:#c8c8c8;
                    line-height: 21px;
                    padding-left: 3px;
                    .v-line {
                        .inline-block;
                        width: 57px;
                        vertical-align: middle;
                        height: 1px;
                        border-top:1px solid #e6e6e6;
                    }
                    span {
                        .inline-block;
                        margin:0 5px;
                    }
                }
            }
            .prefix-remark {
                color:#c8c8c8;
                position: absolute;
                bottom: 10px;
                margin-top: 8px;
                .prefix-remark-suggest {
                    text-indent: 35px;
                }
            }
        }
        .file-upload-area {
            float: left;
            position: relative;
            width: 474px;
            height: 330px;
            overflow-y: scroll;
            .up-files {
                position:absolute;
                top:0;
                left:0;
                width:100%;
            }
            form {
                margin:0;
                padding:0;
            }
            div.flash {
                width:100%;
            }

            input[disabled] {
                border:1px solid #cccccc;
            }
            #btnSubmit {
                margin:0 0 0 155px;
            }
            td {
                font:10pt Helvetica,Arial,sans-serif;
                vertical-align:top;
            }
            .progressWrapper {
                width:100%;
                overflow:hidden;
            }
            .progressContainer {
                position:relative;
                z-index:10;
                margin:0;
                padding:0px;
                overflow:hidden;
                border-bottom:2px dashed #b8b8b8;
                color:#333;
            }
            .message {
                margin:1em 0;
                padding:10px 20px;
                border:solid 1px #FFDD99;
                overflow:hidden;
            }
            .red {
                border:solid 1px #B50000;
                background-color:#FFEBEB;
            }
            .green {
                border:solid 1px #DDF0DD;
                background-color:#fff;
            }
            .blue {
                border:solid 1px #CEE2F2;
                background-color:#F0F5FF;
            }
            .progressName {
                font-size:14px;
                font-weight:bold;
                width:323px;
                height:18px;
                text-align:left;
                white-space:nowrap;
                overflow:hidden;
            }
            .progressBarInProgress,
            .progressBarComplete,
            .progressBarError {
                position:absolute;
                z-index:-1;
                top:0;
                font-size:0;
                width:0%;
                height:100%;
                background-color:#5AA6D8;
            }
            .progressBarComplete {
                width:100%;
                background-color:green;
                visibility:hidden;
            }
            .progressBarError {
                width:100%;
                background-color:red;
                visibility:hidden;
            }
            .progressBarStatus {
                margin-top:2px;
                width:337px;
                font-size:12px;
                text-align:left;
                white-space:nowrap;
            }
            .progressFileSize {
                position:absolute;
                left:80%;
                top:0;
                font-weight:bold;
                font-size:13px;
            }
            .progressUpSize {
                position:absolute;
                left:80%;
                top:20px;
                font-size:13px;
            }
            a.progressCancel {
                .resource_cancelbutton1_sprited;
                font-size:0;
                display:block;
                position:absolute;
                right:10px;
                top:10px;
                z-index:11;
            }
            a.progressCancel:hover {
                .resource_cancelbutton2_sprited;
            }
        }
    }
    .file-upload-btn {
        padding-left: 50%;
        a.btn {
            margin: 10px 0  10px -65px;
            width: 128px;
            height: 33px;
            line-height: 33px;
        }
    }
}

.resource-modal-rename {
    padding: 51px 70px;
    height: 84px;
    input{
        width: 304px;
        margin-top: 10px;
    }
    p.error{
        color: @error;
        padding-top: 5px;
        font-size: 12px;
    }
}

.resource-modal-link {
    padding: 51px 70px;
    height: 84px;
    input{
        width: 304px;
        margin-top: 10px;
    }
}
